@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*{
    font-family: "Karla", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;


}

.navbar{
    background-color: orange;
}
.navbar-brand img{
    height: 50px;
    width: auto;
    padding-right: 10px;
}
.navbar-brand{
    color: black !important; 
    font-weight: bold !important; 
}

.nav-link{
    color: black !important;
    font-size: 20px !important;
    padding: 10px !important;
    font-size: 20px !important;
}

.nav-link:hover{
    color: black;
    font-weight: bold;
    text-decoration: underline solid 3px;
    text-decoration-color: black;
}
.navbar-brand:hover{
    color: black;
    text-decoration: underline solid 3px;
    text-decoration-color: black;
}
.navbar-collapse{
    display: flex;
    justify-content: end;
}
.redes{
    text-align: center;
    font-size: 35px;
    letter-spacing: 2px;}

.footer2{
    background-color: orange !important;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    position:absolute;
    bottom: 0;
    height: auto;
}
footer{
    background-color: orange;
    margin-top: 20px;
    padding: 10px;
    height: auto;
}