@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*{
    font-family: "Karla", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar{
    background-color: #c65314;
}

.navbar-brand img{
    height: 90px;
    width: auto;
}

.nav-link{
    color: white !important;
    padding: 10px !important;
    font-size: 25px !important;
    font-weight: bold;
}

.nav-link:hover{
    color: wheat !important;
    font-weight: bold;
    text-decoration: underline solid 3px;
    text-decoration-color: white;
}
.navbar-collapse{
    display: flex;
    justify-content: end;
}
